@import "tailwindcss";

:root {
  --brand-navy: #0A0927;
  --brand-orange: #D97706;
  --brand-lavender: #93A5D1;
}

body {
  background-color: var(--brand-navy);
  color: white;
  @apply antialiased;
}

/* Custom Selection Color */
::selection {
  background-color: var(--brand-orange);
  color: white;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--brand-navy);
}
::-webkit-scrollbar-thumb {
  background: #1e1b4b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-orange);
}